// @import '@/asssets/css/color.scss';
@import '../../../assets/css/color.scss';


.logo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    > a {
      font-size: 5rem;
      color: $red;
      text-decoration: none;
    }
}
nav {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  background-color: white;

  > ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: 0;
    > svg {
      color: $red;
      font-size: 3rem;
    }

    > li {
      margin: 0 2rem;
      color: $dark;
      transition: color 0.3s;

      & a:hover {
        color: $lightdark;
      }
      .icon{
        margin-right: 0.5rem;
      }
      > svg {
        color: $red;
        transition: inherit;
        font-size: 1.5rem;
        &:hover {
          color: $lightdark;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem;
    > div > a {
      margin: 0 0.5rem;
    }
  }
}